* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-text {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
/* Container styling */
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: teal;
    
    
}

/* Heading styling */
.container1 h1 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

/* Navigation styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
    display: block; 
}

.nav-links a:hover {
    background-color: lightseagreen;
}

.nav-links li a.active {
    background-color: #4caf50;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .nav-links a {
        display: block;
        width: 100%;
    }
}


/* Test */
.input-file-container {
    position: relative;
    width: 225px;
  } 
  .js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
  }
  .js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
  }
  .js .input-file:hover + .input-file-trigger,
  .js .input-file:focus + .input-file-trigger,
  .js .input-file-trigger:hover,
  .js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
  }
  
  .file-return {
    margin: 0;
  }
  .file-return:not(:empty) {
    margin: 1em 0;
  }
  .js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
  }
  .js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
  }
  
  
  
  
  
  
  /* Useless styles, just for demo styles */
  
  body {
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    color: #7F8C9A;
    background: #FCFDFD;
  }
  h1, h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#aaa;
  }
  h2 {
    margin: 5px 0 2em;
    color: #1ABC9C;
  }
  form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
  }
  h2 + P {
    text-align: center;
  }
  .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
  }
  .copy {
    margin-top: 2em;
  }
  .copy a {
    text-decoration: none;
    color: #1ABC9C;
  }




/* Image Preview Styles */
#image-preview-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#image-preview {
    display: none;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Predict Button Styles */
.btn-predict {
    display: block;
    background-color: #1abc9c;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-predict:hover,
.btn-predict:focus {
    background: #34495E;
    color: #39D2B4;
}




